<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-parent">
      <div class="frame-child"></div>
      <div class="frame-item"></div>
      <div class="frame-inner"></div>
      <h1 class="dg-classroom">DG Classroom</h1>
      <a href="/studentlogin">
      <button class="group-parent" autofocus>
        <div class="group-container">
          <div class="group-container"><div class="group-child"></div></div>
          <b class="student">Student</b>
        </div>
        <div class="rectangle-group">
          <div class="group-item">
            <img src="https://imgs.search.brave.com/7lcNZWJv7PsvPu1uONuGHHEuZdaBbu6kKtqewq5xoA8/rs:fit:256:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5K/YnlONzV2S2gwaG5x/SWF6S21jVl93QUFB/QSZwaWQ9QXBp" alt="" style="width : 176px; height:145px;">
          </div>
          <!-- <img class="image-1-icon" alt="" src="public/image-1@2x.png" /> -->
          <!-- <img src="https://imgs.search.brave.com/7lcNZWJv7PsvPu1uONuGHHEuZdaBbu6kKtqewq5xoA8/rs:fit:256:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5K/YnlONzV2S2gwaG5x/SWF6S21jVl93QUFB/QSZwaWQ9QXBp" alt ="" style="" -->
        </div></button
      ></a>
      <a href="/teacherlogin"><button class="group-button" autofocus>
        <div class="group-container">
          <div class="group-container"><div class="group-inner"></div></div>
          <b class="teacher">Teacher</b>
        </div>
        <div class="rectangle-frame"><div class="group-item">
          <img src="https://cdn2.iconfinder.com/data/icons/education-people/512/14-512.png" alt="" style="width: 176px; height:145px;">
        </div></div>
      </button></a>
      <div class="frame-child1"></div>
      <p class="welcome-to-mdg-container">
        <span class="welcome-to-mdg-classroom"
          ><span>Welcome to MDG Classroom</span></span
        ><span class="blank-line"><span>&nbsp;</span></span
        ><span class="get-everything-at-one-place"
          ><span>Get everything at one place.......</span></span
        ><span class="welcome-to-mdg-classroom"
          ><span>your simplified classroom.</span></span
        >
      </p>
      <div class="group-parent1">
        <div class="rectangle-wrapper1"><div class="group-child1"></div></div>
        <b class="m">M</b>
      </div>
      <div class="group-parent2">
        <div class="rectangle-wrapper1"><div class="group-child2"></div></div>
        <b class="m">M</b>
      </div>
    </div>
  </body>
</html>
