<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="global2.css" />
    <link rel="stylesheet" href="index2.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-parent">
      <h1>Hello I am student</h1>
      <div class="frame-child"></div>
      <img class="frame-item" alt="" src="<%= scheck.image ;%>" />
      <div class="frame-inner"></div>
      <h2 class="profile">Profile</h2>
      <h3 class="email-phone-no-container">
        <p class="email-">email-<%= scheck.email ;%></p>

        <p class="email-">&nbsp;</p>
        <p class="phone-no-">phone No.-<%= scheck.phoneNo ;%></p>
      </h3>
      <h1 class="classes">CLASSES</h1>
      <a href="/studentAttendance">
      <button class="rectangle-button">MIN-106</button
      >
        </a><a href="/studentAttendance"><button class="frame-child1">TPP-102</button
      ></a><a href="/studentAttendance"><button class="frame-child2">MIN-201</button></a>
      <div class="rectangle-div"></div>
      <a href="/studentAttendance"><button class="frame-child3">MAN-004</button
      ></a>
      <!-- <button class="rectangle-group">
        <div class="group-child"></div>
        <b class="create-new-class">Create new class</b>
      </button> -->
      <div class="group-parent">
        <div class="rectangle-wrapper"><div class="group-item"></div></div>
        <b class="m">M</b>
      </div>
      <button class="group-container">
        <img class="group-inner" alt="" src="public/group-18.svg" />
        <div class="group-child1"></div>
      </button>
    </div>
  </body>
</html>
