<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global4.css" />
    <link rel="stylesheet" href="./index4.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-parent">
      <div class="frame-child"></div>
      <div class="frame-item">
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQric1NuKxrrddhNqqnSwkkdhHP6vSSbehZD3ZhK8bFq5W4Sad61iQQDSpICtMg9t9GQZgQROlTgmNh/pubhtml?widget=true&amp;headers=false"width="1099px" height="630px"></iframe>
      </div>
      <div class="frame-inner">
        <iframe src="https://drive.google.com/embeddedfolderview?id=1KkdAoaZeXD02cMhJG5XZ5rt145BAr8it" style="width:100%; height:600px; border:0;"></iframe>
      </div>





      <a href="https://drive.google.com/drive/u/0/folders/1KkdAoaZeXD02cMhJG5XZ5rt145BAr8it">
        <button class="group-button">
          <div class="group-child2"></div>
          <img class="image-5-icon" alt="" src="public/image4@3x.png" /><b
            class="upload"
            >upload</b
          >
        </button>
        </a>



        
      <h1 class="min-201">MIN 201</h1>
      <div class="rectangle-div"></div>
      <h3 class="documents">documents</h3>
      <div class="group-parent">
        <div class="rectangle-wrapper"><div class="group-child"></div></div>
        <b class="m">M</b>
      </div>
      <button class="group-container">
        <img class="group-item" alt="" src="public/group-18.svg" />
        <div class="group-inner"></div>
      </button>
    </div>
  </body>
</html>
