body{
    background-color: #4e827f;
    
}
div{
    
    color: #0bece1;
    /* top : 500px; */
    display:block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color:white;
    text-align: center;
    font-size: 60px;
    
}